<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-rodrigoromanguzman/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [3]:
print("hello \n world")

hello
 world

In [5]:
#cast int to bool
bool(1)

True

In [6]:
# expression
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
print(total_hours)

2.3666666666666667

In [7]:
#find index returns 1
"0123456".find('1')

1

In [8]:
#Acces fragments of strings and arrays
numbers = "0123456"
print(numbers[::2])#get even numbers

0246

In [9]:
#Tuples Tuples are an ordered sequence.
a = (1,2,3,4)
#Similar to Strings we can access indexes
print(a[1])
print(a[3])

2
4

In [11]:
#dictionaries are key value pairs
D = {'a':0,'b':1,'c':2}
#we can access its values only
print(D.values())

dict_values([0, 1, 2])

In [13]:
#If else statements
i=4
print(i!=0) #not equal to?
if(i == 4):
  print("this is 4")
else:
  print('this is not 4')

True
this is 4

In [14]:
#For Loops
A=[3,4,5]

for a in A:
  print(a)

3
4
5

In [15]:
#while loop
x=3

y=1

while(y!=x):

  print(y)

  y=y+1

1
2

In [22]:
#functions
a=1

def add(b):

  return a+b

c=add(10)

def f(*x):
  return sum(x)
print(f(1,2,6))

9

In [3]:
# working with classes
#Define Car class
class Car(object):
  def __init__(self,make,model,color):
    self.make = make;
    self.model = model;
    self.color = color;
#create an instance of the Car class by named parameters
Car(make="Honda",model="Accord",color="blue")
#create an instance of Car by respecting the order of the params
car1 = Car("Honda","Accord","blue")

#getters are automatically given by python __init__
print(car1.make)

Honda

In [4]:
#Handling exceptions
try:
  1/0 #zero division
    # code to try to execute
except:
  print("unable to perform zero division")
    # code to execute if there is an exception

unable to perform zero division

In [ ]:
a = 1
#list the exceptions and handle them one by one
try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")